nav {
    margin-bottom: 10px;
}

h1 {
    color: red;
}

.container-image {
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img#pizza-pictures {
    height: 150px;
    width: 150px;
    opacity: 0.5;

}


img#pizza-pictures:hover {
    opacity: 1;
    transform: scale(1.1);
}




.row {
    width: 60%;
}


#card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 20px;

    width: 250px;
}


#card-command {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


.price {
    width: 80px;
    height: 80px;

    background-color: rgb(224, 160, 22);

    border-radius: 50%;

    margin-left: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-weight: 600;
}



.italie {
    width: 40%;
    background-image: url(../../../data/pictures/fond.jpg);
    display: flex;
    flex-direction: column;
    z-index: 1;

    .italie-flag {

        position: relative;
        left: 31%;
        top: 15%;

        width: 36%;
        height: 19%;
        background-image: url(../../../data/pictures/drapeaux.png);

    }
}

.container2 {
    display: flex;
}

#italie {
    z-index: 2;
}


.card-price-cents {
    font-size: 0.8rem;
}

#pizza-detail-container{

    margin-top: 10%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-md-12{
    margin: 0;
    padding: 0;
}