/* ALL */
html {
    box-sizing: border-box;
    color: blue;
}

.jumbotron{
    padding: 2rem 2rem;
}

/* HEADER :  MODAL ERRORS */
#flashMessage{
    text-align: center;  
}

#flashContainer{
    position: fixed;
    top: 7rem;
    z-index: 1;
    width:31rem;
    left: 5rem;
}


/*CREATE ACCOUNT */
.offset-md-1{
    margin-left: 0;
}

.container{
    padding:0;
}

#registerForm{
    align-items: center;
    justify-content: center;
}


/* MODAL INSCRIPTION */
#inscriptionContainer-success{
    position: fixed;
    top: 3rem;
    z-index: 1;
    padding:0;
    display:block
}

#inscriptionModal{
    background-color: rgb(51, 234, 60);
    color:white;
    font-weight: 700;
    text-align: center;
}

#inscriptionContainer-default{
    display:none
}

/* MODAL ERRORS */

#errorsModal{
    background-color: red;
    color:white;
    font-weight: 700;
    text-align: center;
}

#errorsContainer-actived{
    position: fixed;
    top: 10rem;
    z-index: 1;
    padding:0;
}

#errorsContainer-default{
    display:none
}

#formInfo{
    margin-bottom: 0.9rem;
}

/*Chanqge pass user*/
.steps{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

/*Etapes du formulaire de changement de pass*/
.stepNumber-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
    background-color: grey;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 1rem;
}

.stepNumber-enabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 7px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 1rem;
}



.steps li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stepsContainer{
    width: 55rem;
}

