header
{
background-color: black;
color:white;
}

section
{
width: 50%;
margin-bottom: 70px;
background-color: grey;
}

#billets
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

header{
	text-align: center;
}

article{
	text-align: left;
}
